.user__button{
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px;
    cursor: pointer;
    background: red;
    border-radius: 10px;
    border: 2px solid black
}
.user__button:focus{
    outline: none;
}
.user__button:hover{
    font-weight: 700;
    color:red;
    background-color: black;
    border-color: red;
    transition: .3s linear;
}

.users{
    padding: 3px;
    cursor: pointer;
    font-size: 20px;

}
.users__selected{
    font-weight: 700;
    font-size: 20px;
}
.paginator{
    margin-bottom: 20px;
    margin-top: 10px;
}